@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
body {
    font-family: "Roboto Condensed", sans-serif !important;
}

:root {
    --primary-white: #ffffff;
    --primary-light-grey: #f4f4f4;
    --primary-dark-grey: #666666;
    --primary-grey: #ccd1d9;
    --primary-red-ex-orange: #ef4035;
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-black: #000000;
    --primary-cyan: #45cfd0;
    --primary-light-black: #0C1B1B;
    --primary-dark: rgb(52, 58, 64);
}


/************************ Navbar *****************************/

nav {
    z-index: 2;
}

.logo {
    width: 5.2rem;
}


/*----- Menu Links -----*/

.nav-link {
    font-weight: 300;
    /* letter-spacing: 0.0375rem; */
    cursor: pointer;
    font-size: 0.8rem;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav>li>a {
    /* margin-right: 0.75rem ; */
    margin-left: 0.25rem;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    height: 6rem !important;
}

@media (max-width: 768px) {
    .navbar-brand {
        width: 7rem;
    }
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
    border-top: 0.1875rem solid var(--primary-red-ex-orange);
}

.navbar-nav>li>a:hover {
    border-top: 0.1875rem solid var(--primary-red-ex-orange);
}


/************* Header ***************/

.header-wrapper {
    position: relative;
    background: url(techy.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 5rem;
    overflow: hidden;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-info h1 {
    color: var(--primary-red);
    background: var(--primary-light-black);
    border-radius: 5px;
    padding: 10px;
    opacity: 85%;
    text-transform: inherit;
}


/***********  Typed Text **************/

.typed-text {
    font-size: 2rem;
    color: var(--primary-white);
}

@media (max-width: 850px) {
    .main-info h1 {
        font-size: 1.7rem !important;
    }
    .typed-text {
        font-size: 1.3rem;
        color: var(--primary-white);
    }
}

@media (max-width: 768px) {
    .main-info h1 {
        font-size: 1.5rem !important;
    }
    .typed-text {
        font-size: 1rem;
        color: var(--primary-white);
    }
}


/********* Header Main Offer Button *************/

.btn-main-offer {
    border: 1px solid var(--primary-red);
    background: var(--primary-red);
    text-transform: uppercase;
    border-radius: 1rem;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--primary-white);
    margin: 2rem;
    z-index: 2;
}

.btn-main-offer:hover {
    text-decoration: none;
    background-color: var(--primary-hover-red);
    color: var(--primary-white);
    transition: 0.2s ease-in-out;
}


/*************** Particals *********************/

.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}


/************ AboutMe ***************/

.photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-img {
    width: 12rem;
    border-radius: 20%;
    /* padding: 0.3rem; */
    /* border: 1px solid var(--primary-black); */
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.linkedin-img{
    width: 8rem;
}

.photo-info{
    color: var(--primary-black);
    text-shadow: 0.0625rem 0.0625rem var(--primary-dark-grey);
    text-align: left;
}


.about-heading {
    color: var(--primary-red-ex-orange);
    text-transform: uppercase;
    text-shadow: 0.0625rem 0.0625rem var(--primary-dark-grey);
}

@media (max-width: 468px) {
    .profile-img {
        width: 10rem;
    }
}

.paragraph{
    background-color: white;
    padding: 1.875rem;
    border-radius: 0.625rem;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.paragraph p{
    font-weight: 10%;
    font-size: 1rem;
}

/************ Knowledge ***************/

.services {
    text-align: center;
    padding-bottom: 2rem;
    background-color: var(--primary-light-grey);
}

.services h1 {
    color: var(--primary-red-ex-orange);
    text-transform: uppercase;
    padding-top: 2rem;
}

.services .circle {
    position: relative;
    margin: 0.374rem auto;
    background-color: var(--primary-red-ex-orange);
    border-radius: 50%;
    width: 3.12rem;
    height: 3.12rem;
}

.services .icon {
    font-size: 1.4rem;
    color: var(--primary-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services .box {
    min-height: 20rem;
    border-bottom: 0.3125rem solid var(--primary-red-ex-orange);
    padding: 0.625rem;
    margin-bottom: 1.875rem;
    background: var(--primary-white);
}

.services .box:hover {
    background: var(--primary-red-ex-orange);
    border-bottom: 0.3125rem solid var(--primary-dark);
    transition: 0.2s ease-in-out;
}

.services .box:hover .icon {
    color: var(--primary-dark);
}

.services .box:hover .circle {
    background: var(--primary-white);
}


/************ Experience ***************/

.experience {
    padding: 0.7rem;
}

.experience-wrapper {
    position: relative;
    padding: 3.125rem 0;
    overflow: hidden;
}

.experience h1 {
    text-transform: uppercase;
    color: var(--primary-red-ex-orange);
}

.experience-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background: var(--primary-grey);
    z-index: 1;
}

.timeline-block {
    width: calc(50% + 0.5rem);
    display: flex;
    justify-content: space-between;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}

.marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.3125rem solid var(--primary-dark);
    background: var(--primary-red-ex-orange);
    margin-top: 0.625rem;
    z-index: 3;
}

.timeline-content {
    width: 95%;
    padding: 0 0.9375rem;
    color: var(--primary-dark-grey);
    direction: ltr;
}

.timeline-content h3 {
    margin-top: 0.3125rem;
    color: var(--primary-red);
    font-weight: 900;
}

@media (max-width: 768px) {
    .experience .container {
        padding-left: 0;
    }
    .experience-wrapper::before {
        left: 0.5rem;
        margin-bottom: 1.875rem;
    }
    .timeline-block-right {
        float: none;
        width: 100%;
    }
    .timeline-block-left {
        float: none;
        direction: ltr;
        width: 100%;
    }
}


/************     PORTFOLIO    ************/

.portfolio-wrapper{
    background: var(--primary-light-grey);
    padding: 3rem 0;
}

.portfolio-wrapper h1{
    color: var(--primary-red-ex-orange);
}

.portfolio-image{
    width: 15rem;
    border: 1px solid var(--primary-red-ex-orange);
    padding: 0 0.5rem;
}

.portfolio-image-box{
    position: relative;
    margin: 1rem;
}



/************* OverFlow Box *************/

.overflow{
    position: absolute;
    opacity: 0;
    background: var(--primary-black);
    width: 15rem;
    height: 8rem;
    top: 0;
    border: 1px solid var(--primary-red);
    cursor: pointer;
}

.portfolio-image-box:hover .overflow{
    opacity: 60%;
    transition: 0.2s ease-in-out;
}

.portfolio-icon{
    position: absolute;
    opacity: 0;
    margin-left: -8rem;
    margin-top: 3.6rem;
    color: var(--primary-red-ex-orange);
    font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon{
    opacity: 70%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* .popupbox-wrapper{
    height: 100% !important;
    margin-top: 7rem;
} */

/************* OverFlow Box *************/

.portfolio-image-popupbox{
    width: 45rem;
    padding: 0 0.5rem;
}

.hyper-link{
    cursor: pointer;
    color: var(--primary-red-ex-orange);
}

.hyper-link:hover{
    color: var(--primary-red);
}


/************* Media *************/

@media(max-width: 768px){
    .portfolio-image-popupbox{
        width: 100%;
    }
}

@media(max-height: 570px){
    .popupbox-wrapper{
        height: 100% !important;
    }
    .portfolio-image-popupbox{
        width: 50%;
    }
}

@media(max-height: 280px){
    .popupbox-wrapper{
        height: 90% !important;
    }
    .portfolio-image-popupbox{
        width: 30%;
    }
}

/************* Contacts *************/

.contacts{
    background: var(--primary-dark);
    padding: 3rem 0;
}


.contacts h1{
    color: var(--primary-red-ex-orange);
    padding: 1.3rem 0;
    text-transform: uppercase;
}


.contacts p{
    color: var(--primary-light-grey);
    font-size: 1.1rem;
    font-weight: 100;
    padding: 0 1rem;
}


/***************** Inputs  *****************/

.contacts input, .contacts textarea{
    width: 100%;
    box-sizing: border-box;
    background: none;
    resize: none;
    border: 0;
    border-bottom: 0.125rem solid var(--primary-dark-grey);
    border-radius: 0;
    color: var(--primary-red-ex-orange);
    outline: 0 !important;
    box-shadow: none !important;
    margin-bottom: 1rem;
    padding-left: 0 !important;
}

.contacts .container{
    padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus{
    background: transparent;
    color: var(--primary-red-ex-orange);
    border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea{
    height: 12.4rem !important;
}

.contact-btn{
    margin: 1rem 0 0 0;
    width: 100%;
    background: var(--primary-red);
}


.line{
    position: relative;
    top: -0.8rem;
    width: 0;
    height: 0.125rem;
    background: var(--primary-red-ex-orange);
    display: inline-block;
}

input.form-control{  
    margin: -0.3rem 0;
}

textarea.form-control{  
    margin: -0.3rem 0;
}

input:focus+.line, textarea:focus+.line{
    width: 100%;
    transition: width 0.5s ease-in-out;
}

@media(max-width:768px){
    .contacts .container{
        padding: 0 1rem;
    }
}


/***************** Footerr  *****************/

.footer{
    background: var(--primary-black);
    color: var(--primary-dark-grey);
    padding: 3rem;
}

.footer a{
    text-decoration: none;
    color: var(--primary-dark-grey);
}

.footer a:hover{
    text-decoration: none;
    color: var(--primary-red-ex-orange);
    cursor: pointer;
}

.footer p {
    margin-bottom: 0;
}
